*{
    margin: 0;
    padding: 0;
}

.Home{
    border: solid red 1px;
    background-color: black;
    color: wheat;
    padding: 30px 20px;
    display: grid;

    .h1{
        margin-bottom: 10px;
    }
}

.image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25vw;
    height: 200px;
    border: solid white 3px;
    margin: 10px;
}

.info{
    padding: 10px;
    border: solid green 5px;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;

    h2{
        margin-bottom: 10px;
    }

    p{
        margin-bottom: 5px;
    }
}

.cars{
    margin-top: 25px;
    border: solid yellow 1px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}